<div class = "top">
  <h1>
    Ваша короткая ссылка: <span class = "color">localhost:3000/urls/<%=@urls.key%></span>
  </h1>
  <h2><span class = "color">Просто скопируйте и вставьте её</span></h2>
</div>
